/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;500&display=swap');
  font-family: 'Pacifico', cursive;
  font-family: 'Poppins', sans-serif; */

/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Pacifico", cursive;
}

/* Menginputkan nama */
.nama {
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.nama label {
    margin-left: 20px;
}
.nama input {
    padding: 5px;
    border-radius: 10px;
    border: 3px solid green;
    margin-left: 10px;
}

.buttonNama {
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
    border: 3px solid green;
    background-color: green;
    font-weight: bold;
}

/* Aplikasi to do list */
.blue {
  height: 300px;
  background-color: blue;
  color: white;
  text-align: center;
}

.aplikasi {
  margin-top: 150px;
  line-height: 100%;
  text-align: center;
}

.apa {
  text-align: center;
}

/* Memasukkan inputan */
.masuk {
  margin-top: 10px;
  text-align: center;
}
.inputan {
  border: 5px solid blueviolet;
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.add{
  margin-top: 10px;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  transition: all;
  transition-duration: 0.5s;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.1);
}

/* Daftar */
.ul_li ul {
  margin-left: 480px;
  margin-top: 20px;
  text-align: justify;
  font-size: 20px;
  width: 500px;
  margin-bottom: 30px;
}

.ul_li li {
  transition: all;
  transition-duration: 1s;
}

.ul_li li:hover {
  cursor: pointer;
  transform: translateX(30px);
  color: blue;
  font-weight: bold;
}

/* KELAS GARIS TENGAH */
.garisTengah {
  text-decoration: line-through;
  opacity: 0.3;
}
